
<div class="photo-card">
      <img src="{{backdrop_path}}" alt="" loading="lazy" width="340" height="340"/>
  <div class="info">
    <p class="info-item">
      <b>Likes </br> </b>
    </p>
    <p class="info-item">
      <b>Views </br> </b>
    </p>
    <p class="info-item">
      <b>Comments </br> </b>
    </p>
    <p class="info-item">
      <b>Downloads </br> </b>
    </p>
  </div>
</div>